<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFECCIONES GLORIA</title>
    <link rel="icon" href="./assets/img/favicon.ico">
    <link rel="stylesheet" href="../css/estilo.css"/>
</head>
<body>
    <header>
        <div id="top">
          <img
            class="logo"
            src="../assets/img/WhatsApp Image 2022-08-30 at 5.44.27 PM.jpeg"
            alt="logo sitio"
          />
        </div>
        <nav>
          <ul class="menu">
              <li class="item"><a href="../index.html">INICIO</a></li>
              <li class="item"><a href="nosotros.html">NOSOTROS</a></li>
              <li class="item"><a href="servicios.html">SERVICIOS</a>
                  <ul class="submenu">
                      <li class="sub_i"><a href="servicios.html">VESTIDOS</a></li>
                      <li class="sub_i"><a href="servicios.html">ROPA DE BAÑO</a></li>
                      <li class="sub_i"><a href="servicios.html">ROPA DEPORTIVA</a></li>
                  </ul>
              </li>
              <li class="item"><a href="contactos.html">CONTACTOS</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h2>PAGINA DE SERVICIOS</h2>
      </main>
      <footer>
        <h5>TODOS LOS DERECHOS RESERVADOS</h5>
        <a href="#top">
          <h5>IR AL INICIO</h5>
        </a>
      </footer>
</body>
</html>